<div class="span9 offset1">
	<div class="hero-unit">
		<h1>About Me</h1>
		<h2>"My sister owns a computer shop at the seaside. She sells C shells by the sea shore"</h2>
	</div>

		<!-- ===============About me=============== -->
				<h1>Richard's Profile</h1>
				<h2>Who are you?</h2>
				<p>I'm a little nerd from the North of England. I moved to Japan for 2 years where I taught English somewhere in-between reading manga and coding. I have since relocated to Auckland, New Zealand, with my wifey. My impressions so far is that there's a lot of sheep here...</p>
				<h2>Seriously, how did you get in here?</h2>
				<p>Details are for later, friend. On an unrelated note, you should lock your doors more securely.</p>
				<h2>What can you do?</h2>
				<p>Besides being prone to short bursts of laughter over grammatically challenged cats, I also enjoy making things using Ruby. I chose to learn Ruby because it was my birthstone. I also love using Python, which I find to be much more robust, but Ruby is much easier to code in. I love problem solving, even with things that seemingly make no sense. Not being bound to "logic" can be a plus.</p>
		<!-- ===============About me=============== -->

		<!-- ===============Contact=============== -->
	    	<div class="well">	
			<h1>Contact Me!</h1>
			<div class="row">
			    <div class="span2"><img src="/img/me.png" alt="me" style="display: block;"></div>
			    <div class="span6"><p>Feel free to contact about hiring me, nerdy hints & tips, video games, or just a general chat about life, the universe and everything.</p></div>			
	    		<div class="span6">
	    			<ul>
	    				<li><a href="http://twitter.com/tamachan87"><img style ="border: none; margin: 0;" src="/img/twit.png"></a></li>
    					<li><a href="https://github.com/Tamachan87"><img style ="border: none; margin: 0;" src="/img/github.png"></a></li>
    					<li><a href="http://steamcommunity.com/id/tamachan87"><img style ="border: none; margin: 0;" src="/img/steam.png"></a></li>
    					<li><a href="http://nz.linkedin.com/in/rgsimms87"><img style ="border: none; margin: 0;" src="/img/linkedin.png"></a></li>
	    				<li><a href="mailto:rgsimms87@gmail.com"><img style ="border: none; margin: 0;" src="/img/mail.png"></a></li>
	    			</ul>
    			</div>
    			</div>
    		</div>
    	</div>
  		<!-- ===============Contact=============== -->
</div>