<div class="container">
	<div class="hero-unit">
		<h1>About Me</h1>
		<h2>"My sister owns a computer shop at the seaside. She sells C shells by the sea shore."</h2>
	</div>

	<div class="row">
		<!-- ===============About me=============== -->
		<div class="span9">
			<h1>Richard's Profile</h1>
			<h2>In the beginning...</h2>
			<p>I was born and raised in a small town in the North of England. With not much to do I started to play video games at 4 years old on the then brand new MegaDrive. My neighbour also had a Windows 3.1 PC that I absolutely loved and that was where I found my favourite video game of all time - Monkey Island 2: LeChuck's Revenge.</p>
			<p>When my family eventually got the internet I enjoyed visiting forums to talk with other nerds and that was where I first started to (passively) learn HTML and inline CSS. If you wanted to add an image you would use the [img="link_to_img"] tag manually. A lot of WYSIWYG editors have been introduced which get rid of the need to do this monotonous task but I always enjoyed the old school way.</p>
			<h2>If you build it, they will come</h2>
			<p>In university I decided that I wanted to build my own computer for the experience. I bought a Gigabyte motherboard, which actually had to be returned because a heatsink came lose in transit, RAM, a dual core processor and a lovely graphics card and got to work. The whole building process was really enjoyable and everything went smoothly. The power supply had a dodgey cable which was easily fixed with a bit of brute force and elbow grease, but other than that it booted up nicely and behaved well with Windows 7. That PC was a great asset to my learning as I learned all about building, troubleshooting, partitioning and installing various operating systems using it.</p>
			<h2>Tux away!</h2>
			<p>I got into Linux purely out of curiosity. I installed Ubuntu on a partition and learned about Grub, the unix command line, and the philosophy of Linux through a combination of trial and error, and weeping gently over my keyboard. Coming from a mostly GUI background the idea of installing anything by typing was alien to me. I ran into a lot of problems at first but slowly I got used to it and now I feel more at home on the command line than I do navigating various menus.</p>
				<div class="breadcrumb">
					<h3>Fun Fact</h3>
					<p>Running <code>ls -aR</code> in the home folder is a terrifying experience for a newbie.</p>
				</div>
			<h2>日本に行きましょう！！</h2>
			<p>In 2010 I was accepted onto the JET Programme. I moved to Kumamoto City for 2 years and it was there that I met my wife. I learnt a lot about our different cultures, the language and about myself. I enjoy reading and writing in Japanese; on my todo list I will include a Japanese version of this website.</p>
			<p>２０１０の８月に「ジェットプログラッム」を　。熊本市で２年間住んでいました。熊本市で奥さんと会いました。日本の文化と日本語と自分を学びました。日本語の読むことと書くことが好きですからこのサイトで日本語のバーションを作ります。</p>
		</div>
		<!-- ===============About me=============== -->

		<!-- ===============Contact=============== -->
		<div class="span3">
    		<h1>Contact Me</h1>
		    <img src="/img/me.png" alt="me">
		    <p>Feel free to contact about hiring me, nerdy hints & tips, video games, or just a general chat about life, the universe and everything.</p>
    		<a href="http://twitter.com/tamachan87"><img style ="border: none; margin: 0;" src="/img/twitter.png">Twitter</a>
  		</div>
  		<!-- ===============Contact=============== -->

	</div>
</div>