<div class="span9 offset1">
  <div class="hero-unit">
    <h1>HTML5 and CSS3</h1>
    <h2>"Gone phishing"</h2>
  </div>

      <h1>HTML5 and CSS3</h1>
      <p>HTML5 has shown some real potential for creating a more personalised website. For example, let's say your company has a promotional video they wish to share with the world. Before you would either have to go through something like YouTube, which would likely stick out like a sore thumb compared to the theme of your website, or even code your own movie player which is time consuming. With HTML5, anyone can host a video directly though their site. It makes the website prettier, your video is <i>your</i> video, and you don't need to be bogged down with any Flash.</p>
      <video width="320" height="240" controls="controls"><source src="/vid/windows.m4v" type="video/mp4">Whoops, I guess your browser doesn't support video.</video>
      <p>The same also applies for viewing multiple images on one page.</p>
      <p>There's some fun elements added to HTML5, which some developers think is a good opportunity to use for easing into the Flash game market.</p>
    
      <h1>JavaScript</h1>
      <p>I sometimes get the feeling that JavaScript is the most popular coding language in the world. When I first looked into learning to code, it was creating a little guessing game using JavaScript. CodeCademy, a highly recommended learning platform, also uses JavaScript as it's main language of choice to teach, although it is now starting to branch out with HTML and CSS.</p>
      <p>But I ramble. JavaScript is a very useful language for websites as it puts the bulk of the processes on the user, not the server. Here's a quick example for you - do you see that sexy dark green navigation bar that's following you around at the top of the screen? Try readjusting the size of your browser a bit. That's right, a bit more. There we are! See how the link have disappeared? Well, fear not - just click on the button that's appeared on the right hand side. Cool, eh?</p>
      <p>I can't take any credit for that beautiful piece of JavaScript, that's down to the good folks at Twitter Bootstrap, but it is a very good example of the power it holds.</p>
      <p>Personally, I prefer to use CoffeeScript - a JavaScript interpreter that eats Ruby-looking code and spits out JavaScript. There is the debate whether it is necessary to have such a language but let's make it clear: you cannot have coffee without java. Well...you can, but it's just hot bean juice. At least to me.</p>
      <p>CoffeeScript just makes the whole coding process of JavaScript more fun to me. Gone are AWOL semi-colons, gone are the declaration of variables being variables is gone, and the introduction of whitespace (yay!) makes functions a lot cleaner.</p>
    </div>

  </div>
</div>