<div class="span9 offset1">
	<div class="hero-unit">
		<h1>RG Simms</h1>
		<h2>"Incorrigible punster - Do not incorrige"</h2>
	</div>

	<div class="row">
		<div class="span4">
			<img src="/img/madame.jpg" alt="Richard in Madagascar" />
		</div>
		<div class="span4">
			<h1>ようこそ</h1>
			<p>Welcome to the homepage of Richard George Simms. This site is set up mostly for my own amusement, so take it easy whilst you're here.</p>
			<p>I made this page as a kind of online resume of sorts. If you like what you see then please, by all means, contact me.</p>
		</div>
	</div>

	<div class="well">
		<h2>Quick Profile</h2>
		<p>Name:              Richard Simms</p>
		<p>Skills:            Ruby, Ruby on Rails, Python, HTML & CSS</p>
		<p>Favourite food:    Japanese Curry</p>
		<p>Favourite games:   Monkey Island 2: LeChuck's Revenge, Sonic Adventure, Skies of Arcadia, Final Fantasy VII, Team Fortress 2</p>
		<p>Pet peeves:        Computer nerds in movies, programmers who think the source code is more than enough documentation, Kobito</p>
	</div>

</div>