<div class="container">
	<div class="hero-unit">
		<h1>Python</h1>
		<h2>Your mother was a hamster...</h2>
	</div>

	<div class="span9">
		<h1>Why Python?</h1>
		<p>When I first got into programming, the language of choice for most tutorials was to use Python. Python's syntax is nice and easy to learn and read, whilst it's use of whitespace makes sure that a MIA semi-colon is not going to crash your entire app.</p>

		<h1>What have you done in Python?</h1>
		<p></p>
	</div>

</div>