<div class="span9 offset1">
	<div class="hero-unit">
		<h1>Ruby and Ruby on Rails</h1>
		<h2>"Destination unknown"</h2>
	</div>


			<h1>Why Ruby?</h1>
			<p>If I'm being honest, I had a hard time choosing a main language. I have dabbled in different languages before, such as C++ and Java, but they never really clicked with me. I felt I was spending too much time worrying about memory leaks or escaped semi-colons when I should be actually coding. To cut a long story short, ruby is actually my birthstone so I decided to try Ruby out. I found it's syntax easy to remember and it is phenomenally easy to read.</p>

			<h1>What have you done in Ruby?</h1>
			<p>Check out my <%= link_to "GitHub", "http://www.github.com/Tamachan87" %>'s Ruby page and see for yourself. I'm currently working on my first RubyGem, called <%= link_to "Kantan-Blog", :posts %>.</p>

			<h1>Why Rails?</h1>
			<p>As an ever curious little bunny, I enjoy dipping my finger into as many (technology-based) pies as possible. With software developing in Ruby and wanting to go more into web development, Rails seemed the natural choice. I find making websites in Rails much more enjoyable than any other method.</p>

			<h1>What have you done in Rails?</h1>
			<p>Well, for starters, this site! I first made it as a little project and it grew and grew. It uses only a handful of gems. The Twitter Bootstrap Rails gem takes care of the theme, Postmarkdown allows me to blog in Markdown, and soon I will incorporate CodeRay for beautiful syntax highlighting.</p>
			<p>Developing in Rails is certainly an interesting experience. I love the community and there is always a handy gem or two out there for any of your needs. One thing you may notice is that you are constantly learning when developing in Rails. When you create a PHP website, you mainly use PHP, HTML, CSS, and JavaScript. In Rails you have Ruby files, ERB, HAML, Slim, CoffeeScript, and code-based data modelling. You can certainly get most of these into other languages or frameworks, but these ones are very simple to set up in a Rails app.</p>


</div>