<div class="container">
	<div class="hero-unit">
		<h1>Ruby and Ruby on Rails</h1>
		<h2>"Destination unknown"</h2>
	</div>

<h1>Why Ruby?</h1>
<p>If I'm being honest, I had a hard time choosing a language to learn.</p>

</div>