.span9.offset1
  .hero-unit
    %h1 My Blog
    %h2 A collection of tech thoughts and tech feelings

  .breadcrumb
    = render 'feed_link'

    %section#posts
      - if collection.present?
        = render collection, :summary => true
      - else
        No posts found.
